#navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 9%;
    width: 50px;
    max-width: 600px;
    background-color: #7D5A47;
    z-index: 999;
    border-radius: 0px 0px 50px 0px;
    /*transition: all .2s ease-in-out;*/
    border-color: #543A2B;
    border-right: 3px solid;
    border-bottom: 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #navbar img {
    padding-left: 5px;
    padding-right: 12px;
    height: 60%;
    width: 40px;
  }
  
  #nav-buttons {
    height: 100%;
  }
  
  #navbar button {
    font-weight : bold;
    height: 100%;
    border: none;
    color: white;
    background-color: #7D5A47;
    padding-inline: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
  }
  
  #navbar button:active {
    border: none;
    border-bottom: 3px solid;
    background-color: #C3947C;
    color: white;
  }